* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
        --bg-color: #04364A;
        --ikinciRenk: #176B87;
        --ucunRenk: #64CCC5;
        --dortRenk: #DAFFFB;

}

::-webkit-scrollbar {
        display: none;
}

body {
        height: auto;
        width: 100%;
        min-height: 100vh;
        background-color: var(--bg-color);
}

.navbar {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 5;
        background-color: var(--ikinciRenk);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 10px 10px var(--ucunRenk);
}

.logo img {
        width: 70px;
        margin-left: -100px;
}

.search {
        width: 700px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
}

.search form {
        width: 700px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center
}

.search input[type=search] {
        width: 100%;
        height: 100%;
        color: var(--bg-color);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        border: none;
        padding: 0 10px;
        text-align: center;
}

.ara {
        width: 40px;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        color: var(--bg-color);
        font-size: 20px;
}

.user {
        width: 400px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
}

.user-sec {

        margin: 0 10px;
}

.user-sec p {
        margin-left: 7px;
        font-weight: 900;
        position: relative;
}

.user-sec :hover {
        color: var(--bg-color);
        text-shadow: 0 5px 10px white;
}

.user-sec:hover .register {
        display: block;
}

.register {
        display: none;
        position: absolute;
        width: 170px;
        height: 130px;
        border-radius: 10px;
        padding: 10px;
        background-color: white;

}

.register p,
a {
        margin: 5px;
        text-decoration: none;
        color: black;
}





.header {
        margin-top: 130px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
}

.scrol-btn {
        width: 100px;
        height: 100%;
        z-index: 2;
        background-color: var(--bg-color);
}

.scrol-btn i {
        color: white;
}

.scrol-btn button {
        width: 80px;
        height: 100%;
        text-align: center;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;

}

.container {
        width: 90%;
        height: 100%;
        display: flex;
        padding: 0 80px;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        z-index: 1;
}

.box {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid var(--dortRenk);
        border-radius: 50%;
        margin: 0 30px;
}

.box img {
        height: 40px;
}

.section {
        width: 100%;
        height: auto;
        margin-top: 50px;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

}

.section-in-box {
        width: 90%;
        height: auto;
        min-height: 100vh;
        flex-wrap: wrap;
        border-radius: 10px;
        padding: 50px;
        background-color: #DAFFFB;
}
.marka-name p{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-variant: normal;
        color: #04364A;
        text-decoration: underline 2px solid;
        font-style: italic;
        font-weight: bold;
}

.section-box{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
}
.in-box {
        width: 400px;
        height: 250px;
        background-color: white;
        margin: 20px 10px;
        border-radius: 7px;
}

.line{
        display: flex;
        align-items: center;
}
.photo img{
width: 200px;
}